body{

    background: #43389F;
    background: linear-gradient(40deg, blue, pink);
    width:100vw;
    height:100vh;
    margin: 0;
    padding:0;
}
.frame{

    width: 300px;
    margin: 0 auto;
    position:relative;
    top:15%;
    text-align: center;
}
.numbers{
    box-sizing: border-box;

    margin: 0 auto;
    width:300px;
    height:100px;
    display: flex;
    flex-direction: row;
    position: relative;
    color: white;
    box-shadow: gray;

}
.one-one{
    box-sizing: border-box;
    position: absolute;
    left:12%;
    top:0;
    background-color:white;
    transform: skewX(-45deg);
    height:50px;
    width: 30px;
    border-radius: 5px;
    z-index: 0;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.one-two{
    box-sizing: border-box;
    position: absolute;
    left:20%;
    top:0;
    height: 100px;
    width: 30px;
    background-color:white;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    z-index:100 ;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 255, .2);
}
.zero-one,.zero-two{
    position: absolute;
    box-sizing: border-box;
    left:27%;
    border: 30px solid #fff;
    height:100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    z-index: 70;
}
.zero-two{
    left:55%;
    z-index: 10;
}

.text{
    position: relative;

    display: flex;
    flex-direction: column;
    color: white;
    font-size: 100px;
    font-family: 'Courier New', 'Courier', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.big_text{

}
.small_text{
    font-size: 30px;
}